/* src/components/Story.css */
.section.story {
    display: flex;
    flex-direction: column; /* Stack title and content vertically */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    min-height: 100vh; /* Make sure the section takes up the full viewport height */
    padding: 20px;
    text-align: center;
  }
  
  
  .story-content {
    max-width: 800px; /* Optional: limit the width of the content */
    width: 100%;
  }
  